<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de empleados</span>
      <button class="btn btn-dark btn-lg float-right">Agregar</button>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apeliidos</th>
            <th>CURP</th>
            <th>Salario</th>
            <!-- Botones Editar y eliminar -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alessia</td>
            <td>Uribe</td>
            <td>UICA021028MJCIRL5</td>
            <td>$100,000</td>
          </tr>
          <tr>
            <td>Ricardo</td>
            <td>González</td>
            <td>UICA021028MJCIRL5</td>
            <td>$100,000</td>
          </tr>
          <tr>
            <td>Daniela</td>
            <td>Pérez</td>
            <td>UICA021028MJCIRL5</td>
            <td>$100,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
