body {
  /* UI Gradients */
  /* background: #485563; 
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); 
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  );  */
  /* background-image: url("./assets/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; */
} /* You can add global styles to this file, and also import other style files */
